<div class="footer-container">
    {{#unless @isLastQuestion}}
        <span onclick={{action "next"}}>{{inline-svg "/assets/svgs/chevron-right" class="icon"}}</span>
    {{/unless}}
    {{#if @index}}
        <span onclick={{action "previous"}}>{{inline-svg "/assets/svgs/chevron-left" class="icon"}}</span>
    {{/if}}
    <img src="/assets/images/logo.png" class="logo" alt="zquestionnaire">
</div>