.hero-container {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    .hero-texts {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1 {
            font-size: 3rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
    .button {
        width: 250px;
        margin: auto;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--button-color);
        transition: 0.5s;
        &:hover {
            background-color: var(--button-hover-color);
        }
    }
}