<div class="hero-container">
    <div class="hero-texts">
        <h1 class="title">Privathaftpflichtversicherung</h1>
        <p class="descriptions">Um Dein persönliches Privathaftpflichtversicherungs-Angebot zu erstellen, benötigen wir
            noch ein paar Informationen von
            Dir.</p>
        <LinkTo @route='questions' @tagName='div' class="button">Start</LinkTo>
    </div>
</div>